/* Default theme */
:root {
  --primary-color: #76ABAE;
  --secondary-color: #31363F;
  --background-color: #232323;
  --text-color: #EEEEEE;
  --ace-color: #555555;
}

/* Dark theme */
[data-theme="dark"] {
  --primary-color: #76ABAE;
  --secondary-color: #31363F;
  --background-color: #232323;
  --text-color: #EEEEEE;
  --ace-color: #555555;
}

/* light theme */
[data-theme="light"] {
  --primary-color: #F4CE14;
  --secondary-color: #379777;
  --background-color: #E8E8E8;
  --text-color: #45474B;
  --ace-color: lightblue;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

  background-color: var(--background-color);
  color: var(--text-color);

  user-select: none;
}

#loading {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  text-align: center;
  line-height: 100vh;
  color: var(--text-color);
  background-color: var(--background-color);
  font-size: 4rem;
  transition: opacity 1s ease-in-out;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100%;

  display: none;
}

#bottom {
  background-color: var(--secondary-color);
  padding: 0;
  height: 110px;
  text-align: center;
}

#middle {
  display: flex;
  flex: 1;
  overflow: hidden;
  width: 100vw;
}

.middle-bar {
  display: flex;
  height: 30px;
}

.copy-btn {
  cursor: pointer;
  fill: var(--text-color);
}

#left,
#right {
  padding-top: 5px;
  width: calc(50vw - 5px);
}

/* Divider */

#divider {
  width: 10px;
  background-color: var(--background-color);
  cursor: col-resize;
}

#divider:hover {
  background-color: var(--secondary-color);
  border: 0;
}

/* Language selection */

.dropdown {
  height: 30px;
}

.dropdown-btn {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.2s ease-in-out;
  font-size: 15px;
  border: 0;
  cursor: pointer;
  width: 100px;
  height: 30px;
  line-height: 26px;
}

.dropdown-btn:hover {
  background-color: var(--primary-color);
}

.dropdown-list {
  width: 100px;
  height: 40vh;
  overflow: hidden;
  overflow-y: scroll;
  position: absolute;
  display: none;
  padding: 0;
  margin: 0;
  z-index: 9999;
}

.dropdown-lang {
  color: var(--text-color);
  padding: 8px;
  text-decoration: none;
  display: block;
  list-style: none;
  background-color: var(--background-color);
  cursor: pointer;
}

.dropdown-lang:hover {
  background-color: var(--primary-color);
}

/* Editor */

.editor {
  top: 10px;
  width: 100%;
  height: calc(100% - 50px);
}

.ace-highlight {
  background-color: var(--ace-color);
  position: absolute;
}

/* Bottom bar */

#convert-msg {
  position: absolute;
  left: 15%;
  bottom: 62px;

  width: 70%;

  background-color: var(--background-color);
  color: var(--text-color);

  border-radius: 5px;

  resize: none;

  z-index: 999;
}

#convert-msg-fold {
  position: absolute;
  left: calc(85% + 10px);
  bottom: 60px;

  width: 40px;
  height: 40px;

  border: 0;
  padding: 0;

  background-color: var(--secondary-color);

  cursor: pointer;

  rotate: 0deg;
  transition: rotate 0.2s ease-in-out;
}

#convert-msg-fold>svg {
  fill: var(--text-color);
  height: 80%;
}

#convert-btn {
  background-color: var(--secondary-color);
  border: 0;
  cursor: pointer;
  width: 100px;
  height: 60px;
  transition: background-color 0.2s ease-in-out;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: calc(50vw - 50px);
}

#convert-btn:hover {
  background-color: var(--primary-color);
}

#convert-btn>svg {
  fill: var(--text-color);
  height: 80%;
}

#key-btn {
  position: absolute;
  bottom: 0;
  right: 60px;
  width: 60px;
  height: 60px;
  border: 0;
  background-color: var(--secondary-color);
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  padding: 0;
}

#key-btn:hover {
  background-color: var(--primary-color);
}

#key-btn>svg {
  fill: var(--text-color);
  height: 80%;
}

#theme-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 60px;
  border: 0;
  background-color: var(--secondary-color);
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  padding: 0;
}

#theme-btn:hover {
  background-color: var(--primary-color);
}

#theme-btn>svg {
  fill: var(--text-color);
  height: 80%;
  display: none;
}

/* Prompt */

#page-cover {
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: var(--background-color);
  opacity: 30%;
}

#prompt-box {
  display: none;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  width: 400px;
  height: 120px;
  padding: 5px;
  z-index: 999;
  font-size: 20px;
  background-color: var(--secondary-color);
}

#prompt-box>p {
  margin: 10px;
}

#prompt-box>input {
  width: 60%;
  height: 15%;
}

#prompt-btn {
  display: flex;
  width: 60%;
  height: 15%;
  margin: auto;
  margin-top: 15px;
  justify-content: space-between;
}

#prompt-btn>button {
  width: 80px;
  height: 30px;
  border: none;
  background-color: var(--primary-color);
  color: var(--text-color);
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

#prompt-btn>button:hover {
  background-color: var(--secondary-color);
}

/* Popup */

#message-popup {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  bottom: 80px;

  width: fit-content;
  height: 30px;
  line-height: 30px;
  border-radius: 20px;

  background-color: var(--text-color);
  color: var(--background-color);

  text-align: center;

  overflow: hidden;
  z-index: 99999;

  opacity: 0;
  display: none;
  transition: opacity 0.2s ease-in-out;
}